/*
.button-cell {
    margin-top: 15px;
    margin-bottom: 15px;
}
*/

.button {
    cursor: pointer;
}

#objects .button-cell .button {
    aspect-ratio: 1;
    width: 3.6rem;
    padding: 0.2rem;
    margin: 0.2rem;
}

.button-cell img {
    max-height: 90%;
    max-width: 90%;
    min-width: 30px;
    min-height: 30px;
}

#tools .button {
    background-color: aliceblue;
    aspect-ratio: 1;
    width: 3rem;
    padding: 0.2rem;
    margin: 0.1rem;
    font-size: larger;
}

#c {
    border: 1px solid #ccc;
}

/*
.button-cell button:hover {
    background-color: lightgray;
}
*/
